<div class="row">
  <div class="col-xs-12 ml-2 mb-2">
    <button class="btn btn-info" type="button" (click)="staffPerformance()">
      Fetch Data!
    </button>
  </div>
</div>
<div class="row" *ngIf="staffPerfomanceList">
  <div class="col-xs-12 ml-2">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Staff Name</th>
          <th scope="col">Manager</th>
          <th scope="col">Total Sales</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of staffPerfomanceList.items">
          <td scope="row">{{ item.staffId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.manager }}</td>
          <td>{{ item.salesAmount | currency: "GBP" }}</td>
          <td>
            <a
              asp-action="details"
              [routerLink]="[
                '/staff-details',
                item.staffId,
                staffPerfomanceList.metaData.currentPage,
                staffPerfomanceList.metaData.itemsPerPage
              ]"
              class="btn btn-primary"
              >Details</a
            >
            <button class="btn btn-outline-primary ml-1" (click)="open(item)">
              Show Sales Count
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li
          class="page-item previous-item"
          [ngClass]="{
            disabled: staffPerfomanceList.metaData.currentPage === 1
          }"
        >
          <a
            class="page-link"
            [routerLink]="[
              '',
              staffPerfomanceList.metaData.currentPage - 1,
              staffPerfomanceList.metaData.itemsPerPage
            ]"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li
          class="page-item number-item"
          [ngClass]="{
            active: staffPerfomanceList.metaData.currentPage === page
          }"
          *ngFor="let page of pages"
        >
          <a
            [routerLink]="['', page, staffPerfomanceList.metaData.itemsPerPage]"
            class="page-link"
            >{{ page }}</a
          >
        </li>

        <li
          class="page-item"
          [ngClass]="{
            disabled:
              staffPerfomanceList.metaData.currentPage ===
              staffPerfomanceList.metaData.totalPages
          }"
        >
          <a
            class="page-link"
            [routerLink]="[
              '',
              staffPerfomanceList.metaData.currentPage + 1,
              staffPerfomanceList.metaData.itemsPerPage
            ]"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
